/* HEADER CSS */

#header {
    padding: 0px 0 !important;
    height: 82px !important;
}

#nav-menu-container {
    padding: 30px 60px 0px 0px !important;
    height: 82px !important;
}

#logo-header {
    max-height: 85px !important;
    padding: 10px 0 !important;
}

/* SLIDER CSS */
#cc-init{
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
} 

/* FOOTER CSS */

#logo-footer {
    max-height: 200px;
    padding: 30px !important;
}

@media (max-width: 767px){
    #logo {
        text-align: center !important;
    }

    .footer-contact.col{
        text-align: center !important;
    }

    #footer .footer-top h4::before,
    #footer .footer-top h4::after {
        left: calc(50% - 40px);
    }
}


/* FEATURED-SERVICES CSS */

#featured-services i{
    padding: 25px;

}

#featured-services h4 {
    margin-top: 40px;
}


@media (max-width: 1023px){
    #featured-services i{
        font-size: 30px !important;
    }

    #featured-services h4{
        margin-top: 30px !important;
        font-size: 15px !important;
    }
    
    #featured-services .box{
        padding: 0px 20px !important;
    }
}

/* CONTATO CSS */
.custom-select{
    height: 44px;
    border-radius: 0;
}

.p-form{
    margin: 0 0 10px 0;
    display: inline-block;
    font-weight: bold;
}

.question input{
    margin-left: 10px;
}

.orcamento{
    display: none;
}

.contact-email{
    cursor: pointer;
}


/* SERVICES CSS */

#services header {
    margin-bottom: 30px;
}

#services .box{
    display: flex;
    align-items: center;
}

#services .title{
    margin-bottom: 0;
}
