/* HEADER CSS */

#header {
    padding: 0px 0 !important;
    height: 82px !important;
}

#nav-menu-container {
    padding: 30px 60px 0px 0px !important;
    height: 82px !important;
}

#logo-header {
    max-height: 85px !important;
    padding: 10px 0 !important;
}

/* SLIDER CSS */
#cc-init{
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
} 

/* FOOTER CSS */

#logo-footer {
    max-height: 200px;
    padding: 30px !important;
}


/* FEATURED-SERVICES CSS */

#featured-services i{
    padding: 30px;

}

#featured-services h4 {
    margin-top: 45px;
}

/* CONTATO CSS */
.custom-select{
    height: 44px;
    border-radius: 0;
}

.p-form{
    margin: 0 0 10px 0;
    display: inline-block;
    font-weight: bold;
}

.question input{
    margin-left: 10px;
}

.orcamento{
    display: none;
}

.contact-email{
    cursor: pointer;
}